footer{
    color:  #6c757d;
    font-size: 13px;
    background-color: rgb(26, 24, 24);
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Fredoka", sans-serif;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

.service{
    margin: 0px 0px 20px;
}

