 .campaign{
    background-color: black;
    width: 100%;
    margin-top: 10px;    
    overflow-x: scroll;
}


.category{
    color: aliceblue;
    font-style: 20px;
    font-weight: 500;
    margin-left: 50px;
}

.cardItem_container{
    margin-left: 5px;
    display: flex;
    width: max-content;
}


/* card item*/
.cardItem{
    width: 400px;
    height: 420px;
    background-color: aliceblue;
    margin-right: 10px;
    cursor: pointer;
}

.cardItem img{
    height: 60%;
    width: 100%;
    object-fit: cover;
}

.campaign_title{
    color: orangered;
    margin-bottom: 10px;    
}

.crud_buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}